@font-face {
    font-family: 'Sansita One';
    src: url(../fonts/SansitaOne.ttf);
}

@font-face {
    font-family: 'Sansita';
    src: url(../fonts/Sansita-ExtraBold.ttf);
}

@font-face {
    font-family: 'Montserrant';
    src: url(../fonts/Montserrat-Medium.ttf);
}