nav {
    background-color: rgba(10, 26, 50, 0.35);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    min-height: 75px;
    width: 50%;
    justify-content: center;
    display: flex;
    text-align: center;
}

nav ul {
    list-style-type: none;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 75px;
}

nav ul li {
    float: left;
    margin-right: 50px;
    color: white;
    font-size: 20px;
    font-family: 'Montserrant';
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li a:hover {
    text-decoration: underline;
    color: white;
}

nav ul li.selected {
    text-decoration: underline;
    color: white;
}

@media (min-width: 576) {
    .container section {
        height: initial;
    }
}

@media (min-width: 720) {
    .container section {
        height: 11vh;
    }
}